body {
    margin: 40px;
}

.box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
}

.wrapper {
    display: grid;
    grid-template-columns: 150px 120px 120px;
    grid-template-areas:
        "....... header  header"
        "sidebar content content"
        "footer  footer  footer";
    grid-gap: 10px;
    background-color: #fff;
    color: #444;
}

.sidebar {
    grid-area: sidebar;
}

.content {
    grid-area: content;
}

.header {
    background-color: #999;
    grid-area: header;
}

.footer {
    background-color: #999;
    grid-area: footer;
}
