body {
    margin: 40px;
}

.box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
}

.wrapper {
    display: grid;
    width: 1060px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
        "header  header  header  header"
        "sidebar content content content"
        "footer  footer  footer  footer";
    grid-gap: 10px;
    background-color: #fff;
    color: #444;
    margin: auto;
}

.sidebar {
    grid-area: sidebar;
}

.content {
    grid-area: content;
}

.header {
    background-color: #999;
    grid-area: header;
}

.footer {
    background-color: #999;
    grid-area: footer;
}
